*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse Files #
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.loadpath

# Eclipse & Maven Folders #
.settings/
target/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Mac OSX
.DS_Store
